@model Tasks

<h1>Task details</h1>

<hr />

<div class="row">
    <dl class="col-sm-2">
        Title
    </dl>
    <dl class="col-sm-10">
        @Model.Title
    </dl>
    <dl class="col-sm-2">
        Description
    </dl>
    <dl class="col-sm-10">
        @Model.Description
    </dl>
    <dl class="col-sm-2">
        IsCompleted
    </dl>
    <dl class="col-sm-10">
        @Model.IsCompleted
    </dl>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.Id">Back to tasks</a>
</div>
